#main{
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%),url('../assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-reg{
    height: 30rem;
    width: 35rem;
}